body{
    font-family: Arial;
    font-size: medium;
    font-weight: 100;
    background-color:#1c2a44 ;
}
ul{
    margin: 5%;
    width: 450px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 25px 0;
    border-radius: 25px;
    border: 0.1px solid #099fff;
    background-color: #18181b;
    box-shadow: 0 4px 8px 0 #00ffff, 0 6px 20px 0 rgba(0,0,0,0.19);
}
li{
    margin: auto;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
li:after{
    display: block;

}
li:hover{
    text-decoration: underline;
    text-decoration-color: rgb(48, 191, 216);
    transform: scaleX(1.2); 
}
